<div class="container-fluid">
  <div class="row pt-3">
    <ng-container *ngIf="!formVisible">
      <h1>Available Cars</h1>
      <app-my-table
        [tableConfig]="header"
        [data]="data"
        (actionChange)="detectAction($event)"
      ></app-my-table>
    </ng-container>

    <ng-container *ngIf="formVisible">
      <div class="row pt-4 justify-content-center col-4">
        <form (ngSubmit)="search()" #userForm="ngForm">
          <h1>Search available cars</h1>
          <div class="input-group mb-4 pt-1">
            <div class="form-floating">
              <input
                type="date"
                class="form-control"
                id="start_date"
                required
                name="start_date"
              />
              <label for="start_date">Start Date</label>
            </div>

            <div class="form-floating">
              <input
                type="date"
                class="form-control"
                id="finish_date"
                required
                name="finish_date"
              />
              <label for="finish_date">Finish Date</label>
            </div>
          </div>

          <div class="row justify-content-evenly">
            <div class="col-3">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </div>
        </form>
      </div>
    </ng-container>
  </div>
</div>
